

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* css variable */
:root{
    --btn_color : #ff5979;
    --text_color : #fff;
    --bullet_color : #00d6d6;
}

.margin_25{
    margin-top: 25px;
}
.container{
    padding: 50px 15px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
.inner{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;
}


.bg_img{
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)) , url("../img/testimonial.jpg")
}
.heading_1{
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 2;
}
.mt_100{
    margin-top: 100px;
}
.mx_30{
    margin: 30px 0;
}
.mb_30{
    margin-bottom: 30px;
}
.px_60{
    padding: 60px 0;
}
.px_5_10{
    padding: 5px 10px;
}
.pad{
    padding: 30px;
}
.bg_white{
    background-color: #fff;
}
.heading_2{
    font-size: 30px;
    color: #000;
    
}
.monthly_toggle {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading_small{
    font-size: 24px;
    line-height: 2;
    color: #000;
    text-align: center;
}
.p_text{
    font-size: 20px;
    color: #fff;
    padding: 8px;
    text-align: center;

}
.p{
    font-size: 15px;
    min-height: 37px;
    padding: 8px;
    /* margin: 1rem 0; */
    text-align: center;

}
.margin_x{
    margin: 13px 0 20px 0;
}
ul{
    margin-left: 40px;
}
li{
    text-indent: -7px;
    padding-left: -10px;
    margin-top: 10px;
}
li::marker{
    font-size: 21px;
    color: var(--bullet_color);
    /* display: list-item;
    vertical-align: middle; */
}

.compare{
    color: var(--btn_color);
    font-size: 20px;
    padding: 0 8px;
    text-align: center;
    margin: 1rem 0;
}
.btn_container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    min-width: 100px;
    text-transform: capitalize;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: var(--btn_color);
    cursor: pointer;
}
.btn_toggle{
    position: relative;
    background-color: var(--btn_color);
    display: inline-block;
    width: 30px;
    height: 15px;
    border-radius: 35%;
}
.btn_toggle_white{
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    left: 3px;
    top: 2px;
    border-radius: 50%;

}
.appoinment{
    color: var(--btn_color) ;
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}
.arrow{
    font-size: 20px; 
}


/* plan container */
.plan_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* position: relative; */
    
}
.plan{
    padding: 5px;
    flex:none;
    border:1px solid #00d6d6;
    cursor: pointer;
    border-radius: 15px;
    /* position: relative; */
    
    
}
.plan1{
    z-index: 1;
}
.plan2{
    z-index: 2;
}
.plan3{
    z-index: 3;
}
.plan4{
    z-index: 4;
}
.plan_wrap{
    border: 2px solid #fff;
    border-radius: 10px;
}

.city_white{
    display: none;
}
.plan:hover{
    z-index: 5;
    background-color: var(--btn_color);
    color: #fff;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
    border: none;
    transform: scale(1.025);
    
}
.plan:hover li::marker{
    color: #fff;
}
.plan:hover .city_img {    
    display: none;    
}
.plan:hover .city_white {    
    display: block;    
}
.plan:hover .heading_small {    
    color: #fff;    
}
.plan:hover .compare {    
    color: #fff;    
}
.plan:hover .heading_2{    
    color: #fff;
    
}
.plan:hover .btn{
    background-color: #fff;
    color: var(--btn_color);

}
.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_small{
    width: 50px;
    
}

.bg_black{
    background-color: #000;
}


/* ......Table........ */

.table_bg{
    background-color: #f3f3f3;
}
table{ 
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #6e6e6e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table_wrap{
    width: 100%;
}
.row{    
    cursor: pointer;  
    display: grid;
    grid-template-columns: repeat(5, minmax(120px, 1fr));
}

.row_header{
    display: grid;
    grid-template-columns: repeat(5, minmax(120px, 1fr));  
    background-color: #00d6d6;
    line-height: 2;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
}

td,th{
    line-height: 2;
    padding: 5px;
}
td:nth-child(1){
    background-color: #6e6e6e;
    color: #fff;
}
td:nth-child(odd):not(:first-child){
    background-color: #fff;
}
.row:hover td{
    background-color: rgb(250, 166, 11);
    color: #ffffff;
    
}
.row:last-child td{
    padding-bottom: 20px;
}



/* calculator section */
.cal_info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 10px; */
    outline: none;
}
.max_1000{
    max-width: 1000px;
}
.your_info_container{
    padding: 40px 32px 40px 25px;
    border: 1px solid #00d6d6;
    border-radius: 10px;
}
.shadow{

    /* box-shadow: 0 0 10px rgb(0, 0, 0, .2); */
    box-shadow: 0px 20px 74px -24px #0000005c;
}
.input{
    background-color: rgb(241, 238, 238);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    border: none;
    margin-bottom: 20px;
}
.your_usage{
    margin: 0 15px;
    border-radius: 10px;
    padding: 5px 10px;
}
.range_bar{
    appearance: none;
    cursor: pointer;
    border-radius: 10px;
    height: 6px;
    width: 85%;
    display: inline;
    position: relative;
    height: 6px;
    background-image: linear-gradient(to right, #00d6d6 50%, rgb(192, 190, 190) 50% );

}



.range_bar::-webkit-slider-thumb {   
    appearance: none;
    width: 20px;
    height: 20px;
    /* position: absolute; */
    border-radius: 50%; 
    background: #00d6d6; 
    cursor: pointer; 
    /* transform: translateX(-50%);
    left: 50%;
    bottom: -7px; */
  }
.p_usage{
    margin: 15px 0 3px 0;
    font-size: 16px;
}

.your_plan{
    border:1px solid #00d6d6;
    border-radius: 10px;
    padding: 40px;
}
.plan_two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    
}
.c_plan{
    margin: 0 10px;
    background-color:#00d6d6 ;
    border-radius: 10px ;
    margin-bottom: 15px;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.cost{
    padding: 0 30px;
    line-height: 1.5;
} 

.p_18{
    padding-left: 18px;
}
.plan_two ul{
    margin-left: 40px;
    text-align: left;
}
    .plan_two ul li::marker{
        color: #fff;
    }
    .r_plan{
        padding: 10px;
    }
    .c_plan .r_plan{
        color: #ffffff;
    }
    .c_plan .r_plan .btn{
        background-color: #ffffff;
        color: var(--btn_color);
    }
    .c_plan .heading_small{
        color: #ffffff;
    }
    .c_plan .compare{
        color: #ffffff;
    }

    .text_center{
        text-align: center;
    }
    .text_left{
        text-align: left;
    }
    .text_white{
        color: #fff;
    }
.cost_info_wrap{
    position: relative;
} 
 .contact_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
    background-color: #ffffff;
    z-index: 1;
}
.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 20px 20px 132px 70px #0000005c;
    text-transform: capitalize;
    cursor: pointer;
}
/* FAQ */
.faq_wrap{
    width: 100%;
    border-radius: 10px;
    padding: 40px;
}
.faqs{
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}
.faqs:not(:last-child){
   
    border-bottom: 1px solid #f3f3f3;

}
.question{
    color: #00d6d6;
    font-size: 16px;
    /* background-color: #f3f3f3; */
    padding: 8px;
}

.ans{
    height: auto;
    border-left: 3px solid #00d6d6;
    font-size: 16px;
    height: 0;
    overflow: hidden;
    padding-left: 10px;
    margin-left: 32px;
}

.icon_plus{
    margin-right: 10px;
}
.icon_minus{
    margin-right: 10px;
    display: none;
}
.show{
    
    display: inline-block;
}
.show1{
    
    display: block;
}
.hide{
    display: none;

}

.btn_2{
    color:#ffffff;
    background-color: #ff5979;
    min-width: 100px;
    text-transform: capitalize;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
}
/* RESPONSIVE */
/* @media screen and(min-width:600px){

} */
@media screen and (max-width:770px) {
    .scroll{
        overflow-x: auto;
    
    }
    .plan_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .c_heading {
        font-size: 30px;
        line-height: 1.25;
        color: #000;
        text-align: center;
        
    }
    .plan:hover .c_heading{    
        color: #fff;
        
    }
}
@media screen and (max-width:540px){
    .scroll{
        overflow-x: auto;
    
    }
    .plan_container{
        display: grid;
        grid-template-columns: 1fr;
    
    }
    .heading_1{
        color: #fff;
        text-transform: capitalize;
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
    }
    .heading_small {
        font-size: 24px;
        line-height: 2;
        color: #000;
        text-align: center;
    }
    .p_text{
        font-size: 20px;
        color: #fff;
        padding: 8px;
        text-align: center;
    }
    .p{
        font-size: 20px;
        min-height: 84px;
        padding: 7px;
        text-align: center;
    }
    .appoinment {
        color: var(--btn_color);
        text-transform: capitalize;
        font-size: 20px;
        margin: 20px 0;
    }
    .c_heading {
        font-size: 30px;
        line-height: 1.2;
        color: #000;
        padding-left: 2px;
        min-height: 84px;
        text-align: center;
    }
    .cal_info{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        
    }
    .your_usage{
        margin: 0px 0px;
        padding: 5px 0px;
    }
    .plan_two{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 7px;
    }
    .your_plan{
        padding: 0 0;
    }

    .cost{
        padding: 0 11px;
        line-height: 1.5;
        grid-row: 1;

    }
    .plan_two ul{
        margin-left: 30px;
        text-align: left;
    }
    .plan_two ul li{
        text-indent: -1px;
    }
    .plan_two ul li::marker{
        color: #fff;
    }
    /* .c_plan{
        margin: 0 0 11px 11px;
    } */
    .c_plan .plan{
        color: #ffffff;
    }
    .c_plan .plan .btn{
        background-color: #ffffff;
        color: var(--btn_color);
    }
    .c_plan .heading_small{
        color: #ffffff;
    }
    .c_plan .compare{
        color: #ffffff;
    }
    .mb_30{
        margin: 11px;
    }
    .inner_table{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        outline: none;
    }

}